.header {
    background-color: rgba(0,0,0, 0.7);
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header span {
    color: #A29C9C;
}

.header h3 {
    font-size: 28px;
}

.header__nav {
    display: flex;
}

.header__nav p {
    margin-left: 100px;
}

.header__nav a {
    color: #A29C9C;
    transition: 0.2s;
}

.header__nav a:hover {
    color: white;
}