.intro {
    min-height: 80vh;
    background: no-repeat bottom/cover url('./intro-cover.jpg');
    position: relative;
}

.intro__cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro h1 {
    font-size: 72px;
    letter-spacing: 0.03em;
}

.intro__arrow {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(135deg);
    position: absolute;
    bottom: 10%;
}

@media screen and (max-width: 767px) {
    
    .intro h1 {
        font-size: 34px;
    }

    .intro__arrow {
        display: none;
    }

    .intro {
        min-height: 500px;
    }

}

@media screen and (max-width: 426px) {
    
    .intro h1 {
        font-size: 26px;
    }

    .intro {
        min-height: 300px;
    }

}
