.footer {
    background-color: #1A1919;
    text-align: center;
    padding: 40px 10px;
}

.footer__container {
    width: 600px;
    margin: 0 auto;
}

.footer__container p {
    color: #9A9294;
}

@media screen and (max-width: 767px) {
    
    .footer__container {
        width: 90%;
    }

}